<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>CreativeCard</title>
    <link rel="stylesheet" type="text/css" href="./css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
<!-- swiper -->

<div class="swiper-container">

        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card green">
                    <div class="imgBx">
                        <img src="./img/fizzーtorim.png" alt="">
                    </div>
                    <div class="textBx">
                        <h2>Chanpion Cards</h2>
                        <div class="name">
                            <h3>Name :</h3>
                            <span>Fizz</span>
                            <span>フィズ</span>
                        </div>
                        <div class="roll">
                            <h3>Roll :</h3>
                            <span>Asassin</span>
                            <span>Mage</span>
                        </div>
                        <a href="#">View Data</a>
                    </div>
                </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card red">
                    <div class="imgBx">
                        <img src="./img/kda-torim.png" alt="">
                    </div>
                    <div class="textBx">
                        <h2>Chanpion Cards</h2>
                        <div class="name">
                            <h3>Name :</h3>
                            <span>Ahri</span>
                            <span>アーリ</span>
                        </div>
                        <div class="roll">
                            <h3>Roll :</h3>
                            <span>Mage</span>
                            <span>Assasin</span>
                        </div>
                        <a href="#">View Data</a>
                    </div>
                </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card purple">
                    <div class="imgBx">
                        <img src="./img/akari-trim-2.png" alt="">
                    </div>
                    <div class="textBx">
                        <h2>Chanpion Cards</h2>
                        <div class="name">
                            <h3>Name :</h3>
                            <span>AKari</span>
                            <span>アカリ</span>
                        </div>
                        <div class="roll">
                            <h3>Roll :</h3>
                            <span>Assasin</span>
                            <span></span>
                        </div>
                        <a href="#">View Data</a>
                    </div>
                </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card yellow">
                    <div class="imgBx">
                        <img src="./img/champion-ezreal-battle-academia-splash.png" alt="">
                    </div>
                    <div class="textBx">
                        <h2>Chanpion Cards</h2>
                        <div class="name">
                            <h3>Name :</h3>
                            <span>Ezreal</span>
                            <span>エズリアル</span>
                        </div>
                        <div class="roll">
                            <h3>Roll :</h3>
                            <span>Marksman</span>
                            <span>Mage</span>
                        </div>
                        <a href="#">View Data</a>
                    </div>
                </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card black">
                    <div class="imgBx">
                        <img src="./img/jayce-fullmetal-trim.png" alt="">
                    </div>
                    <div class="textBx">
                        <h2>Chanpion Cards</h2>
                        <div class="name">
                            <h3>Name :</h3>
                            <span>Jayce</span>
                            <span>ジェイス</span>
                        </div>
                        <div class="roll">
                            <h3>Roll :</h3>
                            <span>Fighter</span>
                            <span>Marksman</span>
                        </div>
                        <a href="#">View Data</a>
                    </div>
                </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card gray">
                <div class="imgBx">
                    <img src="./img/warwick-trim.png" alt="">
                </div>
                <div class="textBx">
                    <h2>Chanpion Cards</h2>
                    <div class="name">
                        <h3>Name :</h3>
                        <span>Warwick</span>
                        <span>ワーウィック</span>
                    </div>
                    <div class="roll">
                        <h3>Roll :</h3>
                        <span>Fighter</span>
                        <span>Tank</span>
                    </div>
                    <a href="#">View Data</a>
                </div>
            </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card yellow">
                <div class="imgBx">
                    <img src="./img/tristana-demon-trim.png" alt="">
                </div>
                <div class="textBx">
                    <h2>Chanpion Cards</h2>
                    <div class="name">
                        <h3>Name :</h3>
                        <span>Tristana</span>
                        <span>トリスターナ</span>
                    </div>
                    <div class="roll">
                        <h3>Roll :</h3>
                        <span>Marksman</span>
                        <span>Assasin</span>
                    </div>
                    <a href="#">View Data</a>
                </div>
            </div>
        </div>
          </div>


          <div class="swiper-slide">
            <div class="creative_card_container">
                <div class="card pink">
                <div class="imgBx">
                    <img src="./img/soraka-starguardian-trim.png" alt="">
                </div>
                <div class="textBx">
                    <h2>Chanpion Cards</h2>
                    <div class="name">
                        <h3>Name :</h3>
                        <span>Soraka</span>
                        <span>ソラカ</span>
                    </div>
                    <div class="roll">
                        <h3>Roll :</h3>
                        <span>Support</span>
                        <span>Mage</span>
                    </div>
                    <a href="#">View Data</a>
                </div>
            </div>
            </div>
          </div> 


        </div>
            <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


<!-- swiper END-->


<script type="text/javascript" src="swiper.min.js"></script>
<script>
    // alert('swiperを読み込みました');
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
</body>
</html>