<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll Html</title>
    <link rel="stylesheet" href="./css/scroll.css">
</head>
<body>


    <section>
        <h1>Scroll down</h1>
      </section>
      
      <section class="sticky">
        <blockquote>"You should totally subscribe to my channel now"<span></span></blockquote>
        <img id="office" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/office1.png">
        <img id="building" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/sky.jpg">
        <div id="box"></div>
      </section>
      
      <section>
        <h1>Scroll up</h1>
      </section>


<script type="text/javascript" src="./js/scamazon.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js
"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>


</body>
</html>