.slider-warraper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.creative_card_container {
    position: relative;
    border-radius: 5px;
}

.creative_card_container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.creative_card_container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.creative_card_container .card:hover:before {
    /* ホバーアニメーション */
    clip-path: circle(300px at 80% -20%);
}
.creative_card_container .card:after {
    content: "LOL";
    position: absolute;
    top: 30%;
    left: -5%;
    font-size: 12em;
    font-weight: bold;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
    transition: 0.5s ease-in-out;
}
.creative_card_container .card .imgBx {
    position: absolute;
    top: 25%;
    left: 0%;
    transform: scale(0.7);
    z-index: 5;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.creative_card_container .card:hover .imgBx {
    top: 10%;
    left: 20%;
    transform: translateY(0%);
    transition: 0.5s;
}

.creative_card_container .card .imgBx img {
    position: absolute;
    top: -30%;
    left: -5%;
    transform: translate(-50%, -50%) rotate(20%);
    width: 100%;
}
.creative_card_container .card .textBx {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.creative_card_container .card:hover .textBx {
    height: 210px;
}
.creative_card_container .card .textBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f6f5f4;
}
.creative_card_container .card .textBx .name,
.creative_card_container .card .textBx .roll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.creative_card_container .card:hover .textBx .name {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.creative_card_container .card:hover .textBx .roll {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.creative_card_container .card .textBx .name h3,
.creative_card_container .card .textBx .roll h3 {
    color: #f6f5f4;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.creative_card_container .card .textBx .name span {
    width: 30%;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #333;
    background: #f6f5f4;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
}

.creative_card_container .card .textBx .roll span {
    width: 30%;
    height: 20px;
    background: #ff0;
    border-radius: 4px;
    margin: 0 5px;
    color: #f6f5f4;
}
.creative_card_container .card .textBx .roll span:nth-child(2) {
    background: #03a5e4;
}
.creative_card_container .card .textBx .roll span:nth-child(3) {
    background: #e91e63;
}
.creative_card_container .card .textBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #f6f5f4;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.creative_card_container .card:hover .textBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.creative_card_container .green:before {
    background: #9bdc28;
}

.creative_card_container .purple:before {
    background: #5f3474;
}

.creative_card_container .red:before {
    background: #f51737;
}

.creative_card_container .yellow:before {
    background: #cffe00;
}
.creative_card_container .black:before {
    background: black;
}
.creative_card_container .pink:before {
    background: pink;
}
.creative_card_container .gray:before {
    background: #20b2aa;
}

/* swiper END */
/* ----------------------- */
.swiper-container {
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100%;
    border-radius: 10%;
    /* z-index: -1; */
    /* background: #f6f5f4; */
}

.swiper-slide .creative_card_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide .creative_card_container img {
    width: 100%;
}

/* ----------------------- */
/* swiper END */
