// ==============================
// main
// ==============================
.l-main {
    width: 100%;
    // max-width :1280px;
    height: auto;
    &-container {
        width: $content-width__default;

        &-news {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 100px;

            @include mq() {
                width: 100%;
            }

            li {
                border-top: 1px dashed #333;
            }
        }

        &-products {
            background: $sub-color;
            width: 100%;
            height: 100%;
            padding-top: $space__3l;
            padding-bottom: $space__4l;
            overflow: hidden;
        }
    }
}
// -------------------------------
// Anim Navbar
// -------------------------------
.l-nav-container {
    @include mq() {
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.4s;
        height: 7rem;
        width: 30%;
        z-index: 999;
    }
}
#js-move_filed {
    display: none;
    @include mq() {
        display: block;
    }
}

// -------------------------------
// chanpion page
// -------------------------------
.l-hero {
    background-color: $base-color__default;
    flex-direction: row;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 85%;
    &-imgArea {
        height: 100%;
        flex: 6;
        order: 1;
        @include mq() {
            flex: none;
            height: 50%;
            order: 0;
            width: 100%;
        }
    }
    &-listArea {
        flex: 4;
        @include mq() {
            order: 1;
            flex: none;
        }
    }
    @include mq(md) {
        margin: 0;
        width: 100%;
    }
}
// -------------------------------
// informatiom
// -------------------------------

.l-information {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin: $space__4l auto $space__4l;
    width: 85%;
    @include mq() {
        flex-direction: column;
        height: 1000px;
        margin: 0;
        width: 100%;
    }
    @include mq(md) {
        width: 100%;
    }
    &-left {
        flex: 1;
        margin-right: $space__l;
        width: calc(30% - #{$space__l});
        @include mq() {
            margin-bottom: $space__3l;
            margin-right: 0;
            width: 100%;
        }
    }
    &-right {
        flex: 4;
        width: calc(70% - #{$space__l});
        @include mq(md) {
            margin: 0;
            width: 100%;
        }
    }
}

// -------------------------------
// archive
// -------------------------------
.l-main-archive {
    @include absPosition($top: 0, $left: 0);
    border: 2px solid $base-color__default;
    border-radius: 5px 0 5px 5px;
    display: flex;
    margin-bottom: $space__3l;
    overflow: hidden;
    height: 350px;
    width: 100%;

    @include mq() {
        border-radius: unset;
        flex-direction: column;
        height: 500px;
    }
}

// -------------------------------
// tag Group
// -------------------------------
.l-tagGroup {
    height: 25rem;
    margin: $space__xxl auto;
    width: 85%;
    @include mq(md) {
        width: 100%;
        margin-top: $space__l;
    }
}

.js_l_main_archive__left {
    background: $base-color__primary;
    padding: $space__xxl;
    text-align: center;
}
