// ==============================
// main
// ==============================
.l-main{
    width: 100%;
    // max-width :1280px;
    height: auto;
    &-container {
        width: $content-width;
   }
}

// ==============================
// Layout
// ==============================
.l-news {
    margin: 0 auto;
    margin-bottom: 100px;
}

.l-products {
    background: #e6e6e6;
    padding-bottom: 100px; //conponent側で調整していく
}
// -------------------------------
// chanpion page
// -------------------------------
.l-hero {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30rem; //縦の高さもレスポンシブにする必要がある
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 85%;
      &-imgArea{
      flex: 6;
      order: 1;
      height: 100%;
      }
      &-listArea{
      flex: 4;
      }
}
// -------------------------------
// informatiom
// -------------------------------

.l-information{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin: $space__4l auto $space__4l;
    width: 85%;
    @include mq() {
      width: 100%;
      margin: 0;
    }
    &-left{
      flex: 1;
      width: calc(30% - #{$space__l});
      margin-right: $space__l;
       @include mq() {
         width: 100%;
         margin: 0;
    }
    &-right{
      flex: 4;
      width: calc(70% - #{$space__l});
      @include mq(md) {
        width: 100%;
        margin: 0;
   }
    }
}
}

// -------------------------------
// archive
// -------------------------------
.l-main-archive{
   @include absPosition($top: 0,$left: 0);
    border: 2px solid $base-color__default;
    border-radius: 5px 0 5px 5px;
    display: flex;
    margin-bottom: $space__3l;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

// -------------------------------
// tag Group
// -------------------------------
.l-tagGroup{
    height: 25rem;
    margin: 0 auto;
    width: 85%;
}

.js_l_main_archive__left{
    background: $base-color__primary;
    padding: $space__xxl;
    text-align: center;
}

