<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ParalaxBackground</title>
    </head>
    <link rel="stylesheet" type="text/css" href="./css/styleheder.css" />

    <body>
        <section class="zoom">
            <img
                src="./img/nasus-lunarrevel-pls.png"
                id="layer1"
                class="js-move-img1"
                alt=""
            />
            <img
                src="./img/warwick-lunarrevel-pls.png"
                id="layer2"
                class="js-move-img2"
                alt=""
            />
            <h1 id="hero_text" style="font-size: 150px;">LEAGE OF LEGENDS</h1>
        </section>

        <div class="content">
            <h1>Test! Video Background!!</h1>
            <hr />
            <h2>
                Only 10 Champions have yet to be picked in a competitive League
                in 2020, all 138 other champions have already been picked!
            </h2>

            <p>
                I was bored and looking through stats and stuff and realized
                that as of February, only the following Champions have yet to be
                picked this year: Udyr, Teemo, Rammus, Vi, Wukong, Brand, Amumu,
                Volibear, Janna, Neeko This list includes all of the European
                ERLs, every Worlds Qualifying competitive league and their 2nd
                division/academy leagues, most Latin American regional leagues
                (I think?)! Source:
                https://lol.gamepedia.com/List_of_Most_Recent_Games_By_Champion
                PS: Also a fun stat, Master Yi hasn't gotten a single
                competitive win since July 2018, AKA the funnel days (damn I
                didn't realize it's almost been 2 years already) From Wikipedia,
                the free encyclopedia Jump to navigationJump to search This
                article is about the slang term. For an online game also known
                as "LOL", see League of Legends. "LMFAO" redirects here. For the
                music group, see LMFAO (group). LOL is an internet slang term
                that means "laugh out loud". It is commonly mistaken for "lots
                of love." LOL is often used in messages meaning "That is really
                funny." It also means mute in Persian and is a native Dutch word
                (not an acronym) which means "fun" ("lollig" means "funny"). In
                Welsh, lol means nonsense - e.g., if a person wanted to say
                "utter nonsense" in Welsh, they would say "rwtsh lol".[1] LOL is
                usually used on the internet or when text messaging.[2]
            </p>
        </div>

        <section class="sticky scroll-main">
            <blockquote>
                "Where can I get some? There are many variations of passages of
                Lorem Ipsum availabl"
                <span></span>
            </blockquote>
            <img id="office" src="./img/home-design.jpg" alt="" />

            <img src="./img/images (2).jpeg" alt="" />
            <div id="box"></div>
        </section>

        <section class="amazon-scroll">
            <h1>Scroll Down</h1>
        </section>

        <script type="text/javascript" src="./js/scrollmove.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>
    </body>
</html>
