// ==========================================================
// Project
// ==========================================================
// =========================
// Header
// =========================

// -------------------------
// header
// -------------------------

.p-logo-unit__img {
    width: 100%;
    height: 100%;
}

.p-nav-unit-container {
    align-items: center;
    display: flex;
    font-size: $font-size__s;
    justify-content: center;
    transition: 0.5s;
    width: 60%;

    &__item {
        margin: auto;
        list-style: none;
        text-align: center;
        width: 100%;
        height: 100%;

        .item {
            border-bottom: 0px solid lighten($base-color__secondary, 15%);
            display: block;
            height: 100px;
            line-height: 100px;
            position: relative;
            text-decoration: none;
            width: 100%;

            &::after {
                content: "";
                @include absPosition($bottom: 2px, $left: 0);
                background-color: $base-color__default;
                height: 2px;
                transform-origin: center bottom;
                transform: scale(0, 1);
                transition: 0.3s;
                width: 100%;
            }
            &:hover {
                &::after {
                    transform: scale(1, 1);
                    transition: 0.3s;
                }
            }
        }
    }

    .js-show-navList {
        align-items: center;
        background: #fff;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        @include absPosition($top: 98px, $left: 0);
        height: auto;
        margin: 0 auto;
        padding-left: 25%;
        width: 100%;
        z-index: 100;
        @include mq() {
            margin-left: 0;
        }

        .bordItem {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-basis: 20%;
            font-size: $font-size__s;
            height: 6rem;
            justify-content: center;
            text-align: center;
            transition: 0.5s;
            padding: 8px 20px;
            position: relative;

            &::after {
                content: "";
                @include absPosition($bottom: 2px, $left: 0);
                width: 100%;
                height: 2px;
                background-color: $base-color__default;
                transform-origin: center bottom;
                transform: scale(0, 1);
                transition: 0.3s;
            }

            &:hover {
                &::after {
                    transform: scale(1, 1);
                    transition: 0.3s;
                }
            }

            a {
                text-decoration: none;
            }
        }
    }
}

// ================================
// Chanpion Data
// ================================
// -------------------------
//  feature text
// -------------------------
.p-hero__featureText {
    background: $sub-color;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size__l;
    justify-content: center;
    margin: 0;
    padding: $space__m;
    text-align: center;
    width: 100%;
    @include mq() {
        text-align: left;
    }
}

// -------------------------
//  information
// -------------------------
.p-information__header {
    background: $base-color__default;
    border-radius: 3%;
    color: $font-color__secondary;
    font-size: $font-size__xl;
    margin: 0 0 30px 0;
    text-align: center;
    width: 85%;
    height: 50px;
    line-height: 50px;
    @include mq() {
        width: 30%;
        margin-right: auto;
    }
}

.p-information__tabHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include mq() {
        display: none;
    }

    &__tab-btn {
        width: 100px;
        text-align: center;
        height: 45px;
        line-height: 45px;
        margin: 0;
        font-size: $font-size__l;
        border-top: 2px solid $base-color__default;
        border-radius: 10% 10% 0 0;
        border-bottom: none;
        border-right: 1px solid $base-color__default;
        border-left: 1px solid $base-color__default;

        &:hover {
            cursor: pointer;
            color: $base-color__primary;
            background-color: $base-color__default;
            transition: all 0.3s;
        }
    }
    &--compact {
        display: none;
        width: 100%;

        li {
            @include mq() {
                width: 100%;
            }
        }
        @include mq() {
            display: flex;
            justify-content: flex-end;
        }

        &__tab-btn {
            flex: 20%;
            height: 100%;
            line-height: 30px;
            text-align: center;
            margin: 0;
            font-size: $font-size__default;
            border-top: 2px solid $base-color__default;
            border-radius: 10% 10% 0 0;
            border-bottom: none;
            border-right: 1px solid $base-color__default;
            border-left: 1px solid $base-color__default;

            &:hover {
                cursor: pointer;
                color: $base-color__primary;
                background-color: $base-color__default;
                transition: all 0.3s;
            }
        }
    }
}

// -------------------------
//  p-main
// -------------------------
.p-main-archive {
    &__right {
        box-sizing: border-box;
        flex: 6;
        text-align: left;
        padding: $space__xxl;
        @include mq() {
            flex: 4;
            padding: $space__l;
        }
        &__title {
            margin: 0;
            margin-bottom: $space__s;
            @include mq() {
                font-size: $font-size__xl;
            }
        }
        &__text {
            font-size: $font-size__l;
            margin: 0;
            @include mq() {
            }
        }
    }
}

.js_p_main_iconArea {
    background: $base-color__primary;
    text-align: center;
    padding: $space__3l;
    @include mq() {
        flex: 1;
        padding: $space__m;
    }
    &__area {
        margin-top: $space__xxl;
        @include mq() {
            margin-top: 0;
        }
        &__title {
            font-size: $font-size__xl;
            margin: 0;
            margin-top: 10px;
        }
        &__na-title {
            font-size: $font-size__default;
        }
    }
    &__icon {
        border-radius: 10%;
        border: 3px solid #33333324;
        box-sizing: border-box;
        width: 150px;
        @include mq() {
            width: 100px;
        }
    }
}

// -------------------------
//  tagGroup
// -------------------------
.p-tagGroup {
    &__icon {
        width: 100%;
        img {
            margin-right: $space__m;
            vertical-align: text-top;
            width: 3rem;
            @include mq() {
                vertical-align: middle;
                width: 4rem;
            }
        }
    }
    &__list {
        display: flex;
        // justify-content: center; レスポンシブでオンにする
        flex-direction: row;
        flex-wrap: wrap;
        padding: $space__l;
        @include mq() {
            justify-content: space-between;
        }
        &__item {
            background: linear-gradient(white, #f6f5f4);
            border: 1px solid #cacaca;
            border-radius: 5%;
            box-sizing: border-box;
            display: block;
            font-size: $font-size__s;
            margin-bottom: $space__xl;
            margin-left: $space__xl;
            padding: 8px $space__m;
            text-align: left;
            -webkit-box-sizing: border-box;
            width: 16rem;
            @include mq() {
                font-size: $font-size__s;
                flex-shrink: 1;
                margin-left: 0;
                justify-content: space-between;
            }

            &:hover {
                background: $base-color__default;
                color: $base-color__primary;
                transition: all 0.4s;
            }
        }
    }
}

// ================================
// Main Section
// ================================
.p-main-section {
    &__head {
        padding-bottom: $space__4l;
        padding-top: $space__xxl;
        text-align: center;
        width: 100%;
    }

    &__wrapper {
        &--center {
            margin-right: -$space__xxl;
            padding: 0 15px;
            box-sizing: border-box;

            @include mq(md) {
                margin-right: -$space__xl;
            }
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: $space__xl;
        width: 85%;
        margin: 0 auto;
        box-sizing: border-box;

        @include mq(md) {
            width: 100%;
        }
    }
}

// ================================
// Footer Form
// ================================
.p-form__btmContainer--btn {
    position: absolute;
    bottom: 0%;
    right: 3%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.5s;

    span {
        background: #e6e6e6;
        font-size: 16px;
        padding: 15px 15px;
        box-sizing: border-box;
        border-radius: 5px 5px 0 0;
    }
}
